name: Update News Dashboard
permissions:
  contents: write
on:
  schedule:
    - cron: "0 9 * * *"
    - cron: "0 14 * * *"
    - cron: "0 21 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Download NLTK data
        run: | 
          python -m nltk.downloader stopwords

      - name: Run NewsMonitor
        run: python Newsmonitoring.py


      - name: Commit and push results
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Auto-update dashboard"
          branch: main
